body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
}

.logo {
    /* Placeholder */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}